<% @photos.each do |photo| %>
  <div class="card mb-4">
    <div class="card-image">
      <figure class="image">
        <%= link_to [photo] do %>
          <%= image_tag photo.image %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div>
        <%= link_to photo.user.email, [photo.user] %>
      </div>
      <div>
        <%= photo.caption %>
      </div>
    </div>
  </div>
<% end %>
