<%= form_with model: @photo, local: true do |f| %>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.text_area :caption, class: 'textarea' %>
  </div>
  <%= f.submit class: 'button is-primary' %>
<% end %>
